*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(202, 199, 199);
}
body{
    /* background-image: url(./image/bg_4.jpg); */
    /* background-size: cover; */

}
header{
    background-image: url(./image/bg_1.jpg);
    background-size: cover;
    height: 670px;
}
#lb{
    color: black;
    opacity: 90%;
}
#ly{
    color: rgb(255, 208, 0);
    opacity: 90%;
}
header .infop{
    opacity: 70%;
}
header p{
    font-size: 140px;
    text-align: center;
    padding-top: 140px;
}
header label{
    color: yellow;
}
#startnow{
    padding-top: 250px;
    text-align: center;
}
#startnow #gs{
    font-size: 18px;
    color: rgb(255, 208, 0);
    padding: 15px;
    text-decoration: none;
    background-color: rgba(177, 169, 169, 0.568);
}
#startnow #gs:hover{
    color:rgb(44, 42, 42) ;
    padding: 15px;
    text-decoration: none;
    background-color: rgba(255, 208, 0, 0.527);
    transform: scale(1.1);
    transition: 0.5s all;
}
#info{
    padding-top: 15px;
    background-color: rgba(23, 24, 24, 0.376);
    padding-bottom: 15px;
}
#info span{
    text-align: center;
    margin-left: 15px;
    padding: 80px;
}

.menu{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: red;
    font-size: 17px;
    line-height: 2;
    font-wei ht: 400;
    color: #615c5c;
}
.menu:hover{
    color:rgb(255, 208, 0) ;  
}
section{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;

}
#lcl{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right:40%;
    color: black;
}
#navbar{
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    box-shadow: 3px 5px 20px black;
    border-radius:  0 0 50px 50px;
}
#btb{
    background-color: rgb(238, 255, 0);
}
 /* section */
 section{
     margin-top: 20px;
 }
 #food{
     /* background-color: coral; */
     /* height: 400px; */
 }
 #ci{
     padding-top: 80px;
     margin-left: 20px;
     text-align: center;

 }
 #cibox{
    padding-bottom: 10px;
    margin-top: 80px;
    background-color: whitesmoke;
    border: 1px solid rgb(187, 181, 181);
    border-radius:  10px 10px 10px 10px;
    box-shadow: 0 0 5px 0px black;
 }
 #contenu_public{
     display: grid;
     grid-template-columns: 3fr 1fr;
     margin: 20px;
     grid-template-rows: 3fr 1fr;
 }
 #food_title{
    text-align: center;
    margin-top: 20px;
 }
 #food_title h3{
     font-size: 40px;
     color: black;
     margin-top: 40px;
     margin-bottom: 20px;
     font-style: oblique;
     font-variant: small-caps;
 }
 #bf{
     /* background-color: whitesmoke; */
     text-align: center;
     
 }
 #lunch{
    /* background-color: whitesmoke; */
    text-align: center;   
}
#dinner{
    /* background-color: whitesmoke; */
    text-align: center;   
}
 #boxfood{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }
 #bf,#lunch,#dinner{
     padding: 10px;
     margin: 20px;
 }
 /* Food */
 #bf b{
    color:black;
}
#lunch b{
   color:black;
}
#dinner b{
   color:black; 
}
/* bfn */
.box_fd{
    padding-bottom: 10px;
    margin-top: 30px;
    background-color: whitesmoke;
    border: 1px solid rgb(187, 181, 181);
    border-radius:  10px 10px 10px 10px;
}

/* #bf1,#bf2,#bf3,#d1,#l1,#l2,#l3,#d2,#d3:hover{
    color: chartreuse;

} */
.linkb1 .box_fd p:hover{
    border: 0,5px solid rgb(187, 181, 181);
    border-radius:  10px 10px 10px 10px;
    background-color: rgb(245, 196, 35);
    padding-bottom: 10px;
    margin-bottom:-10px;
}
#food a{
    text-decoration: none;
}
.box_fd p{
    color: black;
    font-size: 20px;
}
.imgf{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}
u{
    margin-top: 5px;
    color: rgb(112, 7, 7); 
}
#ci{
    text-align: center;
    margin-top: 20px;
 }
 #ci h3{
     font-size: 20px;
     color: black;
     margin-top: 40px;
     margin-bottom: 20px;
     /* font-style: oblique;
     font-variant: small-caps; */
     color: rgb(12, 243, 12);
 }
 #ci h2{
    font-size: 20px;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    /* font-style: oblique; */
    /* font-variant: small-caps; */
    color: rgb(0, 0, 255);
}
#ci label{
    font-size: 12px;
    color: rgb(97, 102, 102);
    font-family: fantasy;
}
#ci input{
    float: left;
    animation: cubic-bezier(1, 0, 0, 1);
    color: black;
}
#login_s{
    background-color: rgba(255, 179, 0, 0.328);
    color: whitesmoke;
    padding: 8px;
}
/* #cl{
    padding-top: 0;
    background-color: rgb(15, 173, 15);
}
#contenairec{
    background-color: rgb(15, 173, 15);
} */
footer{
    margin-top: 0;
    background-color: rgb(27, 26, 26);
    height: 200px;
}
#cp{
    padding-top: 120px;
}
#cp #cont{
    text-align: center;
}
